.header {
  text-align: center;
  font-size: clamp(30px, 2.47vw, 41px);
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .forecast {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  .header {
    text-align: start;
  }
}
