:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 20px;
  padding: 12px 1rem;
  width: 100%;
  min-width: 280px;
  max-width: 1147px;
  .header {
    text-align: center;
    font-size: clamp(30px, 2.47vw, 41px);
  }

  .forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 50px 79px;
    .forecast {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
    }
    .header {
      text-align: start;
    }
  }
}
