@if (isLoading$ | async) {
} @else {
  @if (error$ | async) {
    <p>Something went wrong</p>
  } @else {
    <div class="forecast_cards">
      @for (day of (forecast$ | async)?.data; track $index) {
        <div class="forecast_cards__card">
          <p>{{ $index ? (day.ts * 1000 | date: 'cccc') : 'Today' }}</p>
          <img
            [src]="
              '../../../../assets/images/icons/forecast/' +
              day.weather.icon +
              '.png'
            "
            alt="icon" />
          <p>{{ day.temp }}&deg;C</p>
        </div>
      } @empty {
        <p class="forecast_cards__no_data">No data found</p>
      }
    </div>
  }
}
