:host {
  width: 100%;
}

.forecast_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p {
      margin: 0;
    }
  }

  &__no_data {
    font-size: 40px;
    width: 100%;
    text-align: center;
    grid-column: 2;
  }
}

@media (min-width: 768px) {
  .forecast_cards {
    display: flex;
    flex-direction: row;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #4b4a4a rgba(0, 0, 0, 0);

    &__card {
      height: clamp(120px, 15.58vw, 168px);
      min-width: 9.35vw;
      max-width: 120px;
    }
  }
}
