@if (isLoading$ | async) {
  <mat-progress-bar mode="buffer"></mat-progress-bar>
} @else {
  @if (error$ | async) {
    <p>Something went wrong</p>
  } @else {
    <div class="forecast_cards">
      @for (hour of (forecast$ | async)?.hour; track $index) {
        <div class="forecast_cards__card" @enterTrigger>
          <p>{{ hour.time_epoch * 1000 | date: 'H:mm' }}</p>
          <img
            [src]="
              basicPathToIcons +
              syncIconsService.getIconPath(hour.condition.code, hour.is_day)
            "
            alt="icon" />
          <p>{{ hour.temp_c }}&deg;C</p>
        </div>
      } @empty {
        <p class="forecast_cards__no_data">No data found</p>
      }
    </div>
  }
}
