.background {
  width: 100%;
  min-height: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  .container {
    background-color: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    min-width: 280px;
    max-width: 1147px;
  }
}

@media (min-width: 768px) {
  .background {
    .container {
      height: 647px;
    }
  }
}
